{
  "arrowParens": "always",
  "bracketSameLine": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "printWidth": 100,
  "trailingComma": "es5",
  "singleQuote": false,
  "bracketSpacing": true
}
